/*
$color_background:          #001100;
$color_bg_product_list:     #003300;
$color_bg_product_highlight:#006600;
$color_bg_header_footer_bg: #113311;
*/
body {
  background-color: #000411;
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  letter-spacing: normal;
  white-space: normal;
  word-wrap: normal;
  overflow-x: hidden;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

div {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

p {
  margin: 0;
  padding: 0;
}

div.notice_panel {
  width: auto;
  min-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #101b3d;
}

div.container_header {
  width: auto;
  height: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #33498a;
  font-weight: bold;
  font-size: 13pt;
  text-transform: uppercase;
  border-bottom: 3px solid #e7be37;
}

div.container_content {
  width: auto;
  min-height: 20px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #101b3d;
}

div.container_content div.sub_title {
  width: auto;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

input[type=text], input[type=number], input[type=date], select {
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #000000;
  font-size: 10pt;
}

.input_button {
  border: 1px solid #000000;
  border-radius: 5px;
  position: relative;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10pt;
  cursor: pointer;
  background-color: #DDDDDD;
}

.input_button:hover {
  background-color: #999999;
}

.input_button:active {
  background-color: #666666;
}

input[type=submit].delete {
  color: #CC0000;
  border-color: #CC0000;
  background-color: #550000;
}

input[type=submit].delete:hover {
  background-color: #660000;
}

input[type=submit].delete:active {
  background-color: #330000;
}

div.wrapper_main {
  width: auto;
  margin: 20px 150px;
  min-height: 100%;
}

@media screen and (max-width: 980px) {
  div.wrapper_main {
    margin: 10px 10px;
  }
}

div.filter_panel {
  width: auto;
  margin: 20px auto;
}

div.product_list {
  width: auto;
  border-radius: 5px;
  padding: 20px;
  background-color: #101b3d;
  margin: 20px auto;
}

@media screen and (max-width: 980px) {
  div.product_list {
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
  }
}

div.product_list div.entry_item {
  border-radius: 5px;
}

div.product_list div.entry_item:hover {
  background-color: #33498a;
}

div.product_list table.product_inner_table tr td div.inner_title {
  font-size: 8pt;
  text-decoration: underline;
}

div.value_container {
  display: none;
}

div.product_list table.product_inner_table tr td {
  padding: 5px;
}

div.product_list table.product_inner_table tr td.select {
  width: 5%;
}

div.product_list table.product_inner_table tr td.thumbnail {
  width: 100px;
  height: 100px;
}

div.product_list table.product_inner_table tr td.thumbnail div.image {
  width: 90px;
  height: 90px;
  margin: 10px 10px 10px 0;
  background-color: #FFFFFF;
  vertical-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
  div.product_list table.product_inner_table tr td.thumbnail {
    width: 50px;
    height: 50px;
  }
  div.product_list table.product_inner_table tr td.thumbnail div.image {
    width: 50px;
    height: 50px;
    margin: 0px;
  }
}

div.product_list table.product_inner_table tr td.title {
  font-size: 14pt;
  font-weight: bold;
}

div.product_list table.product_inner_table tr td.brand,
div.product_list table.product_inner_table tr td.type,
div.product_list table.product_inner_table tr td.price_jp,
div.product_list table.product_inner_table tr td.price_hk,
div.product_list table.product_inner_table tr td.price_diff {
  width: 18%;
  vertical-align: top;
}

div.product_list table.product_inner_table tr td.price_diff {
  width: 25%;
  vertical-align: top;
}

div.product_list table.product_inner_table tr td.edit_button {
  text-align: right;
}

div.product_list table.product_inner_table tr td.price_diff {
  font-size: 13pt;
  text-align: right;
}

div.product_list div.entry_wrapper {
  width: 100%;
  height: 100px;
  margin: 10px auto;
  float: none;
  clear: both;
  border-radius: 5px;
  display: inline-block;
}

div.product_list div.entry_item {
  border-radius: 5px;
}

div.product_list div.entry_item:hover {
  background-color: #33498a;
}

div.product_list div.entry_item div.edit_panel {
  height: auto;
  padding: 20px;
}

div.product_list div.entry_wrapper div.entry {
  height: 100%;
  margin: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.product_list div.entry_wrapper div.entry_header {
  height: 100%;
  margin: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

div.product_list div.entry_wrapper div.entry_header div.title_brand_type_headings {
  width: auto;
  text-align: center;
  display: table-cell;
  width: 20%;
}

div.product_list div.entry_wrapper div.select {
  width: 3%;
  text-align: center;
}

div.product_list div.entry_wrapper div.thumbnail {
  width: 5%;
}

div.product_list div.entry_wrapper div.entry div.image {
  width: 90px;
  height: 90px;
  margin: 10px 10px 10px 0;
  background-color: #FFFFFF;
  vertical-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.product_list div.entry_wrapper div.entry_header div.image_filler {
  width: 80px;
  margin: 10px 10px 10px 0;
}

div.product_list div.entry_wrapper div.title_brand_type {
  width: 50%;
  text-align: left;
}

div.product_list div.entry_wrapper div.title_brand_type div.product_title {
  height: 40px;
  font-size: 14pt;
  font-weight: bold;
}

div.product_list div.entry_wrapper div.brand_type_wrapper {
  display: inline-block;
  height: 40px;
  width: 100%;
}

div.product_list div.entry_wrapper div.brand_type_wrapper div.brand_wrapper,
div.product_list div.entry_wrapper div.brand_type_wrapper div.type_wrapper {
  width: 50%;
  float: left;
}

div.product_list div.entry_wrapper div.brand_type_wrapper div.brand_type_header {
  font-size: 8pt;
  text-decoration: underline;
}

div.product_list div.entry_wrapper div.release_date,
div.product_list div.entry_wrapper div.price_hk,
div.product_list div.entry_wrapper div.price_jp {
  width: 12%;
}

div.product_list div.entry_wrapper div.price_diff {
  width: 15%;
  font-weight: bold;
}

div.product_list div.entry_wrapper div.edit {
  width: 5%;
}

span.hidden_val {
  display: none;
}

span.sort_button {
  cursor: pointer;
  font-size: 13pt;
  color: #DDDDDD;
}

span.sort_button:hover {
  color: #999999;
}

span.sort_button:active {
  color: #666666;
}

table.admin_entry {
  width: 100%;
  border-collapse: collapse;
}

table.admin_entry tr th {
  text-align: left;
  padding-right: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
}

table.admin_entry tr td {
  text-align: left;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

table.admin_entry tr td input,
table.admin_entry tr td select {
  width: 100%;
}

p.price_plus {
  color: #00CC00;
}

p.price_minus {
  color: #EE0000;
}

div.header {
  width: 100%;
  min-height: 50px;
  background-color: #1e2844;
}

div.footer {
  width: 100%;
  min-height: 50px;
  background-color: #1e2844;
  clear: both;
  float: none;
  position: relative;
  bottom: 0;
}
/*# sourceMappingURL=common.css.map */