@import "constants";

body {
    background-color: $color_background;
    color: $color_text;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: $fontsize_default;
    letter-spacing: normal;
    white-space: normal;
    word-wrap: normal;
    overflow-x: hidden;

    // Resets default margins & padding for HTML body
    border: 0px;
    margin: 0px;
    padding: 0px;
}

div {
    @include transitionSet();
}

p {
    margin: 0; padding: 0;
}

div.container_header {
    width: auto;
    height: 20px;
    margin-top: $margin_default;
    padding: $margin_small;
    border-radius: $border_radius_default $border_radius_default 0 0;

    background-color: $color_bg_product_highlight;

    font-weight: bold;
    font-size: $fontsize_large;
    text-transform: uppercase;

    border-bottom: 3px solid $color_bg_product_goldtrim;
}
div.container_content {
    width: auto;
    min-height: 20px;
    padding: $margin_small;
    border-radius: 0 0 $border_radius_default $border_radius_default;

    background-color: $color_bg_product_list;
}
div.container_content div.sub_title {
    width: auto;
    font-size: $fontsize_medium;
    font-weight: bold;
    text-decoration: underline;

    margin-bottom: $margin_small;
}

input[type=text], input[type=number], input[type=date], select {
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;

    //padding: 5px;
    background: #FFFFFF;
    position: relative;
    //height: 30px;
    overflow: hidden;
    vertical-align: middle;

    border: 1px solid #000000;
    font-size: $fontsize_default;
}

.input_button {
    //padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    position: relative;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
    font-weight:bold;

    font-size: $fontsize_default;

    cursor: pointer;
    background-color: $color_button_default;
}
.input_button:hover     { background-color: $color_button_hover; }
.input_button:active    { background-color: $color_button_active; }

input[type=submit].delete {
    color: $color_delete_red;
    border-color: $color_delete_red;
    background-color: $color_delete_bg;
}
input[type=submit].delete:hover { background-color: $color_delete_red/2; }
input[type=submit].delete:active { background-color: $color_delete_red/4; }

div.wrapper_main {
    width:auto;

    margin: 30px 150px;
    min-height:100%;
}
@media screen and (max-width: $width_threshold) {
    div.wrapper_main {
        margin: 30px $margin_small;
    }
}

// V2
div.filter_panel {
    width: auto;
    margin: $margin_default auto;
}

div.product_list {
    width: auto;

    @include defaultDivFrame();
    background-color: $color_bg_product_list;

    margin: $margin_default auto;
}
@media screen and (max-width: $width_threshold) {
    div.product_list {
        @include defaultDivFrame_small();
        margin: $margin_small auto;
    }
}


div.product_list div.entry_item { border-radius: $border_radius_default; }
div.product_list div.entry_item:hover { background-color: $color_bg_product_highlight; } 

div.product_list table.product_inner_table tr td div.inner_title {
    font-size: $fontsize_small;
    text-decoration: underline;
}

// Store values for sorting
div.value_container { display: none; }
div.product_list table.product_inner_table { }
div.product_list table.product_inner_table tr td { 
    padding: 5px; 

    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}
div.product_list table.product_inner_table tr td.select { width: 5%; }
div.product_list table.product_inner_table tr td.thumbnail { width: 100px; height: 100px; }
div.product_list table.product_inner_table tr td.thumbnail div.image {
    width: 90px; height: 90px; margin: 10px 10px 10px 0; background-color: #FFFFFF; vertical-align:center; 
    background-position: center; background-size: contain; background-repeat: no-repeat;
}


@media screen and (max-width: $width_threshold) { 
    div.product_list table.product_inner_table tr td.thumbnail { width: 50px; height: 50px; }
    div.product_list table.product_inner_table tr td.thumbnail div.image {
        width: 50px; height: 50px; margin: 0px;
    }
}

div.product_list table.product_inner_table tr td.title {
    font-size: $fontsize_product_title;
    font-weight: bold;
}

div.product_list table.product_inner_table tr td.brand, 
div.product_list table.product_inner_table tr td.type, 
div.product_list table.product_inner_table tr td.price_jp, 
div.product_list table.product_inner_table tr td.price_hk, 
div.product_list table.product_inner_table tr td.price_diff {
    width: 18%;
    vertical-align: top;
}

div.product_list table.product_inner_table tr td.price_diff {
    width: 25%;
    vertical-align: top;
}

div.product_list table.product_inner_table tr td.edit_button {
    text-align: right;
}

div.product_list table.product_inner_table tr td.price_diff {
    font-size: $fontsize_large;
    text-align: right;
}



div.product_list div.entry_wrapper {
    width: 100%;
    height: 100px;
    margin: 10px auto;
    float: none;
    clear: both; 
    
    border-radius: $border_radius_default;

    display: inline-block;
}
div.product_list div.entry_item { border-radius: $border_radius_default; }
div.product_list div.entry_item:hover { background-color: $color_bg_product_highlight; } 
div.product_list div.entry_item div.edit_panel {
    height: auto;
    padding: 20px;
}

div.product_list div.entry_wrapper div.entry {
    height: 100%;
    margin: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.product_list div.entry_wrapper div.entry_header {
    height: 100%;
    margin: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

div.product_list div.entry_wrapper div.entry_header div.title_brand_type_headings {
    width: auto; text-align: center; display: table-cell; width:20%;
}

div.product_list div.entry_wrapper div.select                   { width: 3%; text-align:center; }
div.product_list div.entry_wrapper div.thumbnail                { width: 5%; }

div.product_list div.entry_wrapper div.entry div.image          { 
    width: 90px; height: 90px; margin: 10px 10px 10px 0; background-color: #FFFFFF; vertical-align:center; 
    background-position: center; background-size: contain; background-repeat: no-repeat;
}

div.product_list div.entry_wrapper div.entry_header div.image_filler   { width: 80px; margin: 10px 10px 10px 0; }
div.product_list div.entry_wrapper div.title_brand_type         { width: 50%; text-align: left; }
div.product_list div.entry_wrapper div.title_brand_type div.product_title { height:40px; font-size: $fontsize_product_title; font-weight:bold; }

div.product_list div.entry_wrapper div.brand_type_wrapper { display: inline-block; height:40px; width: 100%; }
div.product_list div.entry_wrapper div.brand_type_wrapper div.brand_wrapper, 
div.product_list div.entry_wrapper div.brand_type_wrapper div.type_wrapper { width:50%; float:left; }
div.product_list div.entry_wrapper div.brand_type_wrapper div.brand_type_header { font-size: $fontsize_small; text-decoration: underline; }

div.product_list div.entry_wrapper div.release_date,
div.product_list div.entry_wrapper div.price_hk, 
div.product_list div.entry_wrapper div.price_jp     { width: 12%; }

div.product_list div.entry_wrapper div.price_diff   { width: 15%; font-weight: bold; }

div.product_list div.entry_wrapper div.edit         { width: 5%; }

span.hidden_val { display: none; }
span.sort_button { cursor: pointer; font-size:$fontsize_large; color: $color_button_default; }
span.sort_button:hover  { color: $color_button_hover; }
span.sort_button:active { color: $color_button_active; }

table.admin_entry {
    width: 100%;
    border-collapse: collapse;
}
table.admin_entry tr th {
    text-align: left;
    padding-right: $margin_default;
    padding-bottom: $margin_small;

    white-space: nowrap;
}
table.admin_entry tr td {
    text-align: left;
    padding-bottom: $margin_small;
    box-sizing: border-box;

    overflow: hidden;
}
table.admin_entry tr td input, 
table.admin_entry tr td select {
    width: 100%;
}


p.price_plus {
    color:$color_text_price_plus;
}
p.price_minus {
    color:$color_text_price_minus;
}






div.header {
    width: 100%;
    min-height: 50px;
    background-color: $color_bg_header_footer_bg;

    margin: 0 0 30px 0;
}

div.footer {
    width: 100%;
    min-height: 50px;
    background-color: $color_bg_header_footer_bg;

    clear: both;
    float: none;
    position: relative;
    bottom: 0;
}
