/*
$color_background:          #001100;
$color_bg_product_list:     #003300;
$color_bg_product_highlight:#006600;
$color_bg_header_footer_bg: #113311;
*/
body {
  background-color: #000411;
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  letter-spacing: normal;
  white-space: normal;
  word-wrap: normal;
  overflow-x: hidden;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

div {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #00AA99;
}

a:hover {
  color: #00d3be;
}

a:active {
  color: #7efff2;
}

div.notice_panel {
  width: auto;
  min-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #101b3d;
}

div.container_header {
  width: auto;
  height: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #33498a;
  font-weight: bold;
  font-size: 13pt;
  text-transform: uppercase;
  border-bottom: 3px solid #e7be37;
}

div.container_content {
  width: auto;
  min-height: 20px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #101b3d;
  margin-bottom: 20px;
}

div.container_content div.sub_title {
  width: auto;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

div.container_header_kde {
  width: auto;
  height: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #990014;
  font-weight: bold;
  font-size: 13pt;
  text-transform: uppercase;
  border-bottom: 3px solid #e7be37;
}

div.container_content_kde {
  width: auto;
  min-height: 20px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #4d000a;
  margin-bottom: 20px;
}

div.container_content_kde div.sub_title {
  width: auto;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

input[type=text], input[type=number], input[type=date], input[type=password], select {
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #000000;
  font-size: 10pt;
}

.input_button {
  border: 1px solid #000000;
  border-radius: 5px;
  position: relative;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10pt;
  cursor: pointer;
  background-color: #DDDDDD;
}

.input_button:hover {
  background-color: #999999;
}

.input_button:active {
  background-color: #666666;
}

input[type=submit].delete {
  color: #CC0000;
  border-color: #CC0000;
  background-color: #550000;
}

input[type=submit].delete:hover {
  background-color: #660000;
}

input[type=submit].delete:active {
  background-color: #330000;
}

div.wrapper_main {
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 100%;
}

@media screen and (max-width: 800px) {
  div.wrapper_main {
    margin: 10px 10px;
  }
}

div.filter_panel {
  margin: 20px auto;
  padding: 5px;
}

div.filter_panel table.filter_sort_table {
  width: auto;
  border-collapse: collapse;
}

div.filter_panel table.filter_sort_table tr th {
  text-align: left;
  padding-right: 20px;
}

div.filter_panel table.filter_sort_table tr td select {
  width: 100%;
}

div.product_list {
  width: auto;
  background-color: #101b3d;
}

@media screen and (max-width: 800px) {
  div.product_list {
    margin: 20px auto;
  }
}

div.product_list div.entry_item {
  border-radius: 5px;
}

div.product_list div.entry_item:hover {
  background-color: #33498a;
}

div.value_container {
  display: none;
}

div.product_list table.product_inner_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

div.product_list table.product_inner_table tr th {
  text-align: left;
}

div.product_list table.product_inner_table tr td {
  padding: 5px 0;
}

div.product_list table.product_inner_table tr td.select {
  width: 5%;
}

div.product_list table.product_inner_table tr td.thumbnail {
  width: 50px;
  height: 50px;
}

div.product_list table.product_inner_table tr td.thumbnail div.image {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  vertical-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.product_list table.product_inner_table tr td.table_divider {
  border-bottom: 1px solid #FFFFFF;
}

table.product_table_desktop {
  display: table;
}

table.product_table_desktop tr td.title {
  font-size: 14pt;
  font-weight: bold;
}

table.product_table_desktop tr td.brand,
table.product_table_desktop tr td.type,
table.product_table_desktop tr td.release_date {
  width: auto;
  vertical-align: top;
}

table.product_table_desktop tr td.brand {
  width: 10%;
}

table.product_table_desktop tr td.type {
  width: 15%;
}

table.product_table_desktop tr td.price_jp,
table.product_table_desktop tr td.price_hk,
table.product_table_desktop tr td.price_diff {
  text-align: left;
  vertical-align: top;
  white-space: normal;
}

table.product_table_desktop tr td.price_diff {
  text-align: right;
  font-size: 13pt;
}

table.product_table_desktop tr td.edit_button {
  text-align: right;
}

table.product_table_mobile {
  display: none;
}

table.product_table_mobile tr td.title {
  font-size: 14pt;
  font-weight: bold;
}

table.product_table_mobile tr td.brand,
table.product_table_mobile tr td.type,
table.product_table_mobile tr td.release_date {
  width: auto;
  vertical-align: top;
}

table.product_table_mobile tr td.price_jp,
table.product_table_mobile tr td.price_hk,
table.product_table_mobile tr td.price_diff {
  width: auto;
  text-align: right;
  vertical-align: top;
  white-space: normal;
}

table.product_table_mobile tr td.price_diff {
  font-size: 13pt;
}

table.product_table_mobile tr td.edit_button {
  text-align: right;
}

@media screen and (max-width: 800px) {
  table.product_table_desktop {
    display: none;
  }
  table.product_table_mobile {
    display: table;
  }
  div.product_list table.product_inner_table tr td.thumbnail {
    width: 100px;
    height: 100px;
  }
}

div.product_list table.product_inner_table tr td {
  padding: 5px;
}

div.product_list table.product_inner_table tr td.cell_upper {
  vertical-align: top;
}

div.product_list table.product_inner_table tr td div.inner_title {
  font-size: 8pt;
  text-decoration: underline;
  color: #CCCCCC;
}

span.hidden_val {
  display: none;
}

p.price_plus {
  color: #00CC00;
}

p.price_minus {
  color: #EE0000;
}

table.admin_entry {
  width: 100%;
  border-collapse: collapse;
}

table.admin_entry tr th {
  text-align: left;
  padding-right: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
}

table.admin_entry tr td {
  text-align: left;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

table.admin_entry tr td input,
table.admin_entry tr td select {
  width: 100%;
}

table.admin_stats {
  margin-top: 20px;
  border-collapse: collapse;
}

table.admin_stats tr th {
  text-align: left;
  padding-right: 20px;
  padding-bottom: 10px;
}

table.admin_stats tr td {
  text-align: left;
  padding-bottom: 10px;
}

div.item_list_wrapper {
  width: 20%;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 2;
}

div.item_list_wrapper div.item_list_header {
  font-weight: bold;
  font-size: 13pt;
  text-transform: uppercase;
  width: auto;
  padding: 10px;
  border-top: 1px solid #FFFFFFEE;
  border-left: 1px solid #FFFFFFEE;
  border-radius: 5px 0 0 0;
  background-color: #000000EE;
}

div.item_list_wrapper div.item_list_content {
  width: auto;
  padding: 10px;
  border-left: 1px solid #FFFFFFEE;
  border-bottom: 1px solid #FFFFFFEE;
  border-radius: 0 0 0 5px;
  background-color: #000000EE;
}

div.item_list_wrapper div#item_list_container {
  display: none;
}

div.header {
  width: 100%;
  height: auto;
  background-color: #1e2844;
  padding: 10px 0;
  margin-bottom: 20px;
}

div.header div.wrapper {
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
}

div.header div.wrapper div.title {
  font-size: 13pt;
  font-weight: bold;
  float: left;
}

div.header div.wrapper div.title div.sub_title {
  height: 15px;
  font-size: 8pt;
}

div.header div.wrapper div.user_panel {
  padding: 10px;
  border-radius: 5px;
  background-color: #33498a;
  float: right;
}

div.header div.wrapper div.user_panel div.user_panel_heading {
  height: 20px;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}

div.header div.wrapper div.user_panel input.login_username {
  width: 150px;
}

div.header div.wrapper div.user_panel input.login_password {
  width: 80px;
}

@media screen and (max-width: 800px) {
  div.header div.wrapper div.title {
    text-align: center;
    clear: both;
    float: none;
  }
  div.header div.wrapper div.user_panel {
    margin: 10px auto;
    clear: both;
    float: none;
  }
}

div.footer {
  width: 100%;
  min-height: 50px;
  background-color: #1e2844;
  clear: both;
  float: none;
  position: relative;
  bottom: 0;
}

div.divider {
  clear: both;
  float: none;
}
/*# sourceMappingURL=common.css.map */