// Basic properties
$color_background:          #000000;
$color_text:                #FFFFFF;

$color_header_footer_bg:    #1122AA;
$color_bg_admin_panel:      #005533;

$color_bg_product_list:     #003300;
$color_bg_product_highlight:#006600;

$color_text_price_plus:     #00CC00;
$color_text_price_minus:    #EE0000;


$color_button_default:      #DDDDDD;
$color_button_hover:        #999999;
$color_button_active:       #666666;

$border_radius_default: 5px;
$margin_default:    20px;
$margin_small:      10px;

// Font size defaults
$fontsize_default:          11pt;
$fontsize_large:            13pt;
$fontsize_small:            8pt;

$fontsize_product_title:    14pt;


$width_threshold:   980px;

@mixin defaultDivFrame() {
	border-radius: $border_radius_default;
    padding: $margin_default;
}
@mixin defaultDivFrame_small() {
	border-radius: $border_radius_default;
    padding: $margin_small;
}

// Transition properties
$animationTransition:0.1s;
$transitionProperties:all $animationTransition ease-in;
// Include transition set for cross-browser compatibility
@mixin transitionSet() {
	-webkit-transition:   $transitionProperties;
	-moz-transition:      $transitionProperties;
	-ms-transition:       $transitionProperties;
	-o-transition:        $transitionProperties;
	transition:           $transitionProperties;
}